.table>tbody>tr>td {
	line-height: 1.5!important;
}

@media(max-width:767px) {
	.table-scrollable .dataTable td>.btn-group,.table-scrollable .dataTable th>.btn-group {
		position: relative!important;
	}

	.table-responsive .dropdown-toggle,.table-scrollable .dropdown-menu {
		position: static!important;
	}

	.dropdown-backdrop {
		position: relative;
	}

	.dataTables_wrapper .row .col-md-6.col-sm-6 {
		width: 50%;
		float: left;
		text-align: left;
	}

	.dataTables_wrapper .dataTables_filter {
		margin-top: 0;
	}

	.dataTables_wrapper .dataTables_filter .input-small {
		width: 85px!important;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button {
		padding: 0;
	}

	.modal-dialog {
		width: 94%;
		margin: 0;
	}
}


.dataTables_wrapper .dataTable tbody tr td a{
    font-weight: bold;
}

#custom-fields tr th:last-child, #custom-fields tr td:last-child {
    max-width: 250px;
    width: 20%;
    text-align: left;
}
#custom-fields tr th:nth-child(5), #custom-fields tr td:nth-child(5) {
    max-width: 400px;
    width: 40%;
    text-align: left;
}
.table>thead>tr>th:first-child, .table>tbody>tr>td:first-child {
    max-width: 50px;
    text-align: center;
    width: 5% !important;
}

#custom-fields tr th, #custom-fields tr td {
    text-align: center !important;
    padding: 12px 6px !important;
	white-space: nowrap;
}
#custom-fields tr th:nth-child(2), #custom-fields tr td:nth-child(2) {
    text-align: left !important;
}
#custom-fields tr th:nth-child(5), #custom-fields tr td:nth-child(5) {
    text-align: left !important;
    min-width: 300px;
    max-width: 400px;
    white-space: normal;
    word-break: break-word;
}
.dataTables_wrapper>.row:nth-child(2)>.col-sm-12 {
    overflow-x: scroll;
    overflow-x: overlay;
}