.table td,.table th {
	vertical-align: middle;
}

.kt-checkbox {
	margin-bottom: 0;
}

.table {
	border: 1px solid #e7ecf1!important;
	border-top: 0!important;
}

.table tr td:first-child,.table:not(.table-bordered) thead th:first-child {
	width: 40px;
	text-align: center!important;
}

.table td,.table th {
	padding: 10px;
	vertical-align: middle;
	border-top: 1px solid #ebedf2;
}

.table>thead>tr>th:last-child, .table>tbody>tr>td:last-child {
    padding: 10px 12px;
    text-align: center;
    max-width: 150px;
    width: 10%;
} 
.table>thead>tr>th:first-child, .table>tbody>tr>td:first-child {
    max-width: 40px;
    text-align: center;
    width: 4% !important;
}
#custom_header tr th, #custom_header tr td {
    text-align: center !important;
    padding: 12px 6px !important;
}
#custom_header tr th:nth-child(2), #custom_header tr td:nth-child(2) {
    text-align: left !important;
}
.form-group.row>.col-form-label.text-left {
    text-align: left !important;
}
.mt-35 {
    margin-top: 35px;
}
.justfy-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
