#load {
	display: none;
	float: left;
}

span#verify-dns {
	display: none;
}

a.fa.tooltips {
	text-decoration: none;
}

.dataTables_wrapper .dataTable tbody tr td a.la,.dataTables_wrapper .dataTable tbody tr td i.la,.loadg i.la,span.icock i {
	font-size: 1.8rem;
}

.table-toolbar .btn-group ul.dropdown-menu {
	min-width: 16rem!important;
}

.dt-bootstrap4 .dropdown .dropdown-menu.dropdown-menu-right {
	min-width: 16rem;
}

#domain-data ul li {
	line-height: 1.5;
	padding-bottom: 5px;
}

div#domain-data>.row>.col-md-6 {
	max-height: 205px;
	overflow-y: scroll;
	margin-bottom: 15px;
}

div#domain-data>.row>.col-md-6::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px transparent;
	border-radius: 4px;
	background-color: #fff;
}

div#domain-data>.row>.col-md-6::-webkit-scrollbar {
	width: 6px;
	background-color: #fff;
}

div#domain-data>.row>.col-md-6::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px transparent;
	background-color: #e4e4e4;
}

#modal-confirm_delete span.alert {
	margin: 0;
	padding: 15px 12px;
}

span.icock {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	display: block;
	line-height: 2.2;
}

span.icock i {
	display: block;
	vertical-align: middle;
	line-height: 31px;
}

table#domain_masking tr td:nth-child(5), 
table#domain_masking tr th:nth-child(5),
table#domain_masking tr td:nth-child(6), 
table#domain_masking tr th:nth-child(6),
table#domain_masking tr td:nth-child(7), 
table#domain_masking tr th:nth-child(7) {
	text-align: center;
	padding-right: 30px;
}

table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting {
	padding-right: 30px;
}

@media (min-width: 1024px) and (max-width:1555px) {
	.dt-bootstrap4 .dropdown .dropdown-menu.dropdown-menu-right {
		transform: translate3d(-65px, -256px, 0px) !important;
	}
}

#unassignedAssets {
	background: #ecf3ff;
	border-color: #d6e5ff;
	display: block;
	width: 100%;
	margin: 20px 0 0 0;
	padding: 5px 10px 15px;
}

.kt-badge {
	font-size: 12px;
}

.kt-badge.kt-badge--dot {
	display: inline-block;
	line-height: 6px;
	min-height: 6px;
	min-width: 6px;
	height: 6px;
	width: 6px;
	font-size: 0;
	vertical-align: middle;
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

table#domain_masking tr td span.btn {
	padding: 5px 10px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.btn-label-dark {
	background: #e9e9eb;
	color: #333;
}

#assignedAssets, #assignedAssets>.row {
	width: 100%;
	margin: 0 !important;
}

#assignedAssets ul {
	padding-left: 30px;
}



.table-relative {
    position: relative;
    display: block;
}
.climit {
    position: absolute;
    top: 0px;
    left: 190px;
    z-index: 1;
}
.climit button.btn.btn-label-warning {
    font-weight: 600;
    text-transform: uppercase;
    min-width: 60px !important;
    white-space: nowrap;
    color: #f8a800;
}
#domain_masking tr th, #domain_masking tr td {
    text-align: center !important;
    padding: 12px 6px !important;
    white-space: nowrap;
}
#domain_masking tr td:first-child, #domain_masking tr th:first-child {
    max-width: 300px;
    text-align: left !important;
    width: auto !important;
    padding: 12px 20px !important;
    white-space: normal !important;
    word-break: break-all;
    min-width: 201px;
}
@media (max-width: 440px) {
	.climit {
		position: relative;
		width: 100%;
		display: block;
		left: 0;
		top: 0;
	}
	#smtps.collapsed tr.child td.child {
		overflow-x: overlay;
	}
}


/* #domain_masking tr td:first-child a {
    white-space: nowrap;
} */
#domain_masking.collapsed > tbody > tr[role="row"] > td:first-child, #domain_masking.collapsed > tbody > tr[role="row"] > th:first-child {
    padding-left: 40px !important;
}
/* .table-scrollable {
    position: relative;
} */
/* .dataTables_wrapper>.row:nth-child(2)>.col-sm-12 {
    overflow-x: scroll;
    overflow-x: overlay;
} */

table.dataTable>tbody>tr.child ul.dtr-details>li {
    display: flex;
}
.dataTables_wrapper .child .dtr-details>li .dtr-title {
    padding: 0.5rem 0.5rem 0;
    min-width: 140px;
    text-align: left;
    padding-left: 15px !important;
}
#domain_masking.collapsed tr.child td.child {
    padding-left: 0 !important;
}