@media (max-width:767px) {
	button.fa.fa-question {
		margin-left: 15px;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.form-actions .btn {
		margin-bottom: 10px;
	}

	.modal-dialog {
		width: 90%;
		margin: 0;
	}

	textarea.form-control {
		height: 130px;
	}
}